.parrafo{
    color: #4FC3F7;
    text-align: center;
    font-size: 75px;
    font-family: 'Arial', sans-serif;
    font-size: 50px; /* Tamaño de la fuente */
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 15px;
    line-height: 1;
    list-style: 150px;
    -webkit-text-stroke: 1px #333; /* Ancho y color del contorno */
    text-shadow:
    -1px -1px 0 black, /* Sombra izquierda-arriba */
     1px -1px 0 black, /* Sombra derecha-arriba */
    -1px  1px 0 black, /* Sombra izquierda-abajo */
     1px  1px 0 black; /* Sombra derecha-abajo */
}